NEXT_PUBLIC_SUPABASE_URL=https://ocdkjyvaahgjzzokezqz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9jZGtqeXZhYWhnanp6b2tlenF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYyMjU1NjksImV4cCI6MjEwMTgwMTU2OX0.JgH9vwWZJiK8cRv6QGAyEutmJBYPQCsR7gVLvlWQb2c